*{
 		margin:0px;
 		padding:0px;
 	}
 	.formulario{
 		width:300px;
 		height:200px;
 		margin:0 auto;
 		padding:15px;
 		border:4px solid rgb(233, 231, 231);
 		background: rgb(255,255,255); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); 
		background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
		background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); 
		background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); 
		background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); 
 		box-shadow:5px 5px 5px rgb(219, 219, 219);
 		-moz-transition:all 1s;
 		-webkit-transition:all 1s;
 		-o-transition:all 1s;
 		transition:all 1s;
 	}
 	.formulario:hover{
 		border-radius:50%;
 		overflow:hidden;
 	}
 	.formulario input{
 		display:block;
 		margin:10px 0;
 		border-radius:5px;
 	}
 	.formulario input[type="text"]{
 		width:280px;
 		padding:5px;
 		border:1px solid rgb(216, 216, 216);
 	}
 	.formulario input[type="email"]{
 		width:280px;
 		padding:5px;
 		border:1px solid rgb(216, 216, 216);
 	}
 	.formulario input[type="password"]{
 		width:280px;
 		padding:5px;
 		border:1px solid rgb(216, 216, 216);
 	}
 	.formulario input[type="submit"]{
 		width:90px;
 		padding:5px;
 		float:right;
 		border:none;
 		cursor:pointer;
 		margin-right:10px;
 		color: white;
 		background-color:rgb(255, 44, 44);
		text-transform: uppercase;
		font-size: 12px;
		box-shadow: 0px 2px 5px rgb(162, 162, 162);
 	}
 	.formulario input[type="checkbox"]{
 		float:left;
 		margin: 4px 0;
 	}
 	.formulario h2{
 		text-transform:uppercase;
 		font-weight:100;
 		font-family:arial;
 		text-align:center;
 		font-size:20px;
 		color:rgb(124, 124, 124);;
 	}
 	.formulario label{
 		font-family:arial;
 		font-size:12px;
 		color:black;
 		text-transform:capitalize;
 		margin:0 10px 0;
 	}